@model PrimaImoti.ViewModels.MessagesViewModel

@{
    Layout = "_AdminLayout";
}


<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <section class="content inbox">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card action_bar">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-2 col-3">
                                    <div class="checkbox inlineblock delete_all">
                                        <input id="deleteall" type="checkbox">
                                        <label for="deleteall">
                                            All
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-4 col-6">
                                    <div class="input-group search">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model.Messages)
            {
                <div class="row clearfix">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <ul class="mail_list list-group list-unstyled">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="controls">
                                            <div class="checkbox">
                                                <input type="checkbox" value="@item.Id" id="checkbox" name="checks">
                                                <label for="basic_checkbox_1"></label>
                                            </div>
                                            <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                        </div>
                                        <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""> </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <a href="mail-single.html" class="m-r-10">@item.Title</a>
                                            <span class="badge bg-blue">От: @item.FirstName @item.LastName</span>
                                            <a href="mail-single.html" class="m-r-10">Телефон за връзка: @item.Phone</a>
                                            <a href="mail-single.html" class="m-r-10">Имейл : @item.Email</a>
                                            <small class="float-right text-muted"><time class="hidden-sm-down">@item.CreatedOn</time></small>
                                        </div>
                                        <p class="msg">@item.Content </p>
                                    </div>
                                </div>

                        </ul>
                    </div>
                </div>
            }
            <div class="card m-t-5">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                </div>
                <div>
                    <button type="button" id="delete" class="btn btn-danger" value="button" onclick="Delete()">Изтрий</button>
                </div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript">
    function Delete() {
        var values = [];
      
        $.each($("input[name='checks']:checked"), function (){

            if($(this).prop("checked") == true) {
            values.push($(this).val());
        }
        });

        jQuery.ajaxSettings.traditional = true

       $.ajax({
           type: 'POST',
           url: '/Admin/Messages',
           data: JSON.stringify({ values:values }, true),
           contentType: 'application/json; charset=utf-8',
           success: function (data) {
               alert("Succeded");
           }
       });
    }
</script>
