@model IEnumerable<PrimaImoti.ViewModels.ViewModels.WaitingEstatesViewModel>
@{
    Layout = "_AdminLayout";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Сатус</th>
                <th scope="col">Име</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Телефон</th>
                <th scope="col">Тип Имот</th>
                <th scope="col">Адрес</th>
                <th scope="col">Адрес</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <th scope="row">
                    <td>@Html.DisplayFor(modelItem => item.Aproved)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Adress)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                </tr>
            }
        </tbody>
    </table>
</div>